:root {
  --text: #333333;
  --text-h: #111111;
  --bg: #ffffff;
  --border: #e5e5e5;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font-family: var(--sans);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: var(--text);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
}

h1,
h2,
p {
  margin-top: 0;
}

h1,
h2 {
  color: var(--text-h);
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
